.blogs {
  width: 100%;
}

/* container title */

.container-title {
  display: flex;
  margin-top: 4em;
  margin-bottom: 2em;
  justify-content: center;
}

.btn-title {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
  color: white;
  text-transform: uppercase;
}

.btn-title-span {
  padding-top: 10px;
  font-size: 1.2rem;
  background: rgb(0, 172, 238);
  background: linear-gradient(
    0deg,
    rgb(180, 45, 45) 0%,
    rgba(2, 126, 251, 1) 100%
  );
  display: block;
  position: absolute;
  width: 150px;
  height: 55px;
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5),
    7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-title-span:nth-child(1) {
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.6), -4px -4px 5px 0 #fff9,
    7px 7px 20px 0 #0002, 4px 4px 5px 0 #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-title-span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-title:hover .btn-title-span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5),
    7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.btn-title:hover .btn-title-span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5),
    7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.container-blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.container-img-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.container-image-blogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0 50px;
  border-radius: 10px;
  transition: 0.3s;
  background-color: rgb(161, 255, 216);
  box-shadow: -10px -10px 35px rgba(32, 56, 163, 0.274);
}

.container-image-blogs:hover {
  box-shadow: 45px 30px 70px rgba(48, 14, 14, 0.267);
  background: rgb(238, 174, 202);
}

.image-blogs {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.header-blogs {
  margin: 20px;
}

.paragraph-blogs {
  margin: 1.5rem;
}

.search-blogs {
  text-decoration: none;
  margin-bottom: 20px;
  background-color: rgb(93, 81, 255);
  color: white;
  padding: 10px;
  display: inline-block;
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: -5px -3px 15px rgba(0, 0, 0, 0.493);
}
