@import "./general";
@import "./about";
@import "./blogs";
@import "./contact";
@import "./home";
@import "./images";
@import "./landing";
@import "./news";
@import "./work";

/* header */

.landing-header {
  display: flex;
  width: 100%;
  height: 150px;
  min-height: 150px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f7f7f7;
}

.container-landing-header {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 0;
  height: 100%;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: none;
  max-width: 1280px;
  width: 100%;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 100%;
  margin: auto;
}

.container-landing-logo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}

.container-logo a {
  height: 100%;
}

/* nav bar */

.landing-nav {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-direction: row;
}

.landing-nav ul {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  color: rgb(127, 127, 127);
  font-size: 12px;
  line-height: 160%;
  text-transform: uppercase;
  padding: 10px 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-family: "Work Sans", sans-serif;
}

.landing-nav li {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: auto;
  padding: 15px;
  font-weight: 600;
  font-size: 2em;
}

.landing-nav li:hover {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: auto;
  padding: 15px;
  font-weight: 500;
  font-size: 2em;
  border-radius: 21px;
  animation: pulsate 5s ease-in-out;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
  }
}

.cnt-main {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 0;
  height: 100%;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: none;
  max-width: 1280px;
  width: 100%;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 100%;
  margin: auto;
}

.active1 {
  background-color: green;
  color: #f7f7f7;
  border-radius: 21px;
  width: 7vw;
  height: 6vh;
  text-align: center;
  padding-top: 20px;
}
