@import "./general";
@import "./landing";
@import "./home";
@import "./about";
@import "./service";
@import "./contact";

/* showcase */

.showcase {
  width: 100%;
}

.showcase-container {
  background-image: url("../images/showcase.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 550px;
  box-sizing: border-box;
  padding: 5px;
  justify-content: center;
}

.showcase-container h1 {
  z-index: 1000;
  text-align: center;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  margin-top: 8em;
  color: #f7f7f7;
}

.showcase-container h2 {
  z-index: 1000;
  text-align: center;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  color: #f7f7f7;
}

.showcase-container h1 span {
  color: red;
  padding: 0 10px 0 10px;
}

/* header */

.container-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  background-color: #f7f7f7;
  z-index: 1300;
}

.container-header-element {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 0;
  height: 100%;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: none;
  max-width: 1280px;
  width: 100%;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 100%;
  margin: auto;
}

.container-logo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}

.container-logo a {
  height: 100%;
}

/* nav bar */

.container-nav {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-direction: row;
}

.container-nav ul {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  color: rgb(127, 127, 127);
  font-size: 12px;
  line-height: 160%;
  text-transform: uppercase;
  padding: 10px 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-family: "Work Sans", sans-serif;
}

.container-nav li {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: auto;
  padding: 15px;
  font-weight: 600;
  font-size: 1.3em;
}

.container-nav li:hover {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: auto;
  padding: 15px;
  font-weight: 600;
  font-size: 1.3em;
  border-radius: 6px;
  background-color: greenyellow;
  animation: pulsate 5s ease-in-out;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
  }
}

.cnt-main {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  height: 100%;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: none;
  max-width: 1280px;
  width: 100%;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 100%;
  padding-top: 70px;
  margin: auto;
}

@media screen and (max-width: 991px) {
  .container-header {
    height: fit-content;
  }
  .container-header-element {
    display: flex;
    flex-direction: column;
  }

  .container-logo a {
    width: 100vw;
    height: 11vh;
    background-color: #4e00c2;
    content: "galal";
  }

  .container-nav ul {
    display: flex;
    flex-direction: column;
  }

  .container-nav ul li a {
    background-color: #4e00c2;
    width: 100vw;
    padding: 1.3em;
    color: #f7f7f7;
  }

  .container-nav li:hover {
    display: none;
  }
}
